
    <div  class="col-sm-4" style="background-color: black;">
        <div class="card text-white card-has-bg click-col" style="background-image:url('https://i.pinimg.com/originals/99/32/26/9932262291ef92b7722b812b53c629be.jpg');">
            
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
                <small class="card-meta mb-2">Hotel</small>
                <h4 class="card-title mt-0 "><a class="text-white" herf="#">{{hotelToGet?.name}}</a></h4>
                <small><i class="far fa-clock"></i>Open</small>
            </div>
                <div class="card-footer">
                    <div class="media">
                        <img class="mr-3 rounded-circle"   style="max-width:50px">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>

                        <div class="media-body">
                            <small>{{hotelToGet?.location}}</small>
                        </div>
                    </div>
                </div>
          </div>
        </div>
    
    </div>


    
     
